<?xml version="1.0" ?>
<MDGetDatesConfig>
	<ParamFile>../parm/MD-DefaultDates.dat</ParamFile>
	<QuarterDates>
		<Quarter>
			<start>0101</start>
			<end>0331</end>
		</Quarter>
		<Quarter>
			<start>0401</start>
			<end>0630</end>
		</Quarter>
		<Quarter>
			<start>0701</start>
			<end>0930</end>
		</Quarter>
		<Quarter>
			<start>1001</start>
			<end>1231</end>
		</Quarter>
	</QuarterDates>
	<Holidays>
		<holiday>01/01/NewYear</holiday>
		<holiday>05/b25/Victoria</holiday>
		<holiday>07/01/Canada</holiday>
		<holiday>02/m3/Family</holiday>
		<holiday>08/m1/Civic</holiday>
		<holiday>09/m1/Labour</holiday>
		<holiday>10/m2/Thanksgiving</holiday>
		<holiday>12/25/Christmas</holiday>
		<holiday>12/26/Boxing</holiday>
		<holiday>easter</holiday>
	</Holidays>
</MDGetDatesConfig>